<h1><%= @user.name %>さんのプロフィール画面</h1>
<h2>スキル・特徴</h2>
<% if @skills %>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>
<% end %>
<h2>スキル追加</h2>
<form>
  <input type="text"/>
  <input type="submit" value="登録"/>
</form>
